- var DIR_MAIN   = '_/'
- var DIR_TEMP   = DIR_MAIN + 'templates/temp/'
- var DIR_COMP   = DIR_MAIN + 'components/'
- var DIR_CSS    = DIR_TEMP + 'styles/css/'
- var DIR_JS     = DIR_TEMP + 'scripts/js/'
- var DIR_IMGS   = DIR_TEMP + 'imgs/'

- var DIR_UPLOAD = 'upload/'
