extend ../templates/main
append top
	- var title = "Главная"

append content
	.hello#hello
		.case
			.hello__list.nav-counts.nav-arrows
				.hello__item
					.hello__wrap
						.hello__title #[strong Натяж#[b.n н]ые потолки] #[br]в череповце от #[strong 100 руб/м#[sup 2]]
						.hello__text Вызовите специалиста для замера и расчёта
						.hello__form.form.--line
							.form__item.input.--white.--md.--phone
								input.input__area(type="tel" name="phone" placeholder="Ваш номер телефона")
							button.form__item.form__btn.btn.--brown.--md Вызвать замерщика

							.form__item.form__policy Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных
					.hello__img.img #[div(style="background-image: url('upload/hello.png')")]
				.hello__item
					.hello__wrap
						.hello__title #[strong Натяж#[b.n н]ые потолки] #[br]в череповце от #[strong 100 руб/м#[sup 2]]
						.hello__text Вызовите специалиста для замера и расчёта
						.hello__form.form.--line
							.form__item.input.--white.--md.--phone
								input.input__area(name="phone" placeholder="Ваш номер телефона")
							button.form__item.form__btn.btn.--brown.--md Вызвать замерщика

							.form__item.form__policy Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных
					.hello__img.img #[div(style="background-image: url('upload/hello.png')")]
				.hello__item
					.hello__wrap
						.hello__title #[strong Натяж#[b.n н]ые потолки] #[br]в череповце от #[strong 100 руб/м#[sup 2]]
						.hello__text Вызовите специалиста для замера и расчёта
						.hello__form.form.--line
							.form__item.input.--white.--md.--phone
								input.input__area(name="phone" placeholder="Ваш номер телефона")
							button.form__item.form__btn.btn.--brown.--md Вызвать замерщика

							.form__item.form__policy Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных
					.hello__img.img #[div(style="background-image: url('upload/hello.png')")]
				.hello__item
					.hello__wrap
						.hello__title #[strong Натяж#[b.n н]ые потолки] #[br]в череповце от #[strong 100 руб/м#[sup 2]]
						.hello__text Вызовите специалиста для замера и расчёта
						.hello__form.form.--line
							.form__item.input.--white.--md.--phone
								input.input__area(name="phone" placeholder="Ваш номер телефона")
							button.form__item.form__btn.btn.--brown.--md Вызвать замерщика

							.form__item.form__policy Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных
					.hello__img.img #[div(style="background-image: url('upload/hello.png')")]
				.hello__item
					.hello__wrap
						.hello__title #[strong Натяж#[b.n н]ые потолки] #[br]в череповце от #[strong 100 руб/м#[sup 2]]
						.hello__text Вызовите специалиста для замера и расчёта
						.hello__form.form.--line
							.form__item.input.--white.--md.--phone
								input.input__area(name="phone" placeholder="Ваш номер телефона")
							button.form__item.form__btn.btn.--brown.--md Вызвать замерщика

							.form__item.form__policy Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных
					.hello__img.img #[div(style="background-image: url('upload/hello.png')")]
	.catalog#catalog
		.case
			.catalog__wrap.row
				.catalog__big-title.big-title #[img(src="upload/text-catalog.svg", alt="")]
				.catalog__group
					.catalog__title.title Ка#[br]та#[br]л#[b.o-1 о]г

				.catalog__list.row
					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-1.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle матовый
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-2.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle глянцевый
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-3.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle сатиновый
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-4.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle резной
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-5.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle парящий
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-6.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle двухуровневый
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-7.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle фотопечать
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

					.catalog__item
						.catalog__inner
							.catalog__img.img #[div(style="background-image: url('upload/catalog-8.jpg')")]
							.catalog__content
								.catalog__desc натяжной потолок
								.catalog__subtitle световые линии
								.catalog__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 


	.calc#calc
		.calc__big-title.big-title #[img(src="upload/text-calc.svg", alt="")]
		.case
			.calc__wrap.row
				.calc__imgs
					.calc__imgs-wrap
						.calc__img
							img(src="upload/siling-1.jpg", alt="")
						.calc__img
							img(src="upload/siling-2.jpg", alt="")
						.calc__img
							img(src="upload/siling-3.jpg", alt="")
				.calc__content
					.calc__title.title расчет #[br] ст#[b.o-2 о]имости
					.calc__desc натяжного потолка по акции. Для точного расчёта необходим замер! Минимальный заказ 6 000 руб.
					.calc__list
						.calc__item.range#range-square(data-min="1" data-max="10" data-current="2" data-prefix="м<sup>2</sup>")
							.range__title Площадь помещения
							.range__wrap
						.calc__item.range#range-count(data-min="0" data-max="12" data-current="6" data-prefix="шт")
							.range__title Количество светильников
							.range__wrap
					.calc__btn.btn.--brown.--md Узнать стоимость
	
	.advantages#advantages
		.case
			.advantages__wrap.row
				.advantages__big-title.big-title #[img(src="upload/text-advantages.svg", alt="")]
				.advantages__content
					.advantages__title.title Наши #[br]плю#[b.s с]ы
					.advantages__text.text
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata
				.advantages__list.row.i-top
					.advantages__item
						.advantages__icon #[img(src="upload/002-ruler.svg", alt="")]
						.advantages__name Наличие своего #[br]производства
					.advantages__item
						.advantages__icon #[img(src="upload/001-documents.svg", alt="")]
						.advantages__name Подписание договора #[br]на дому
					.advantages__item
						.advantages__icon #[img(src="upload/003-toolbox.svg", alt="")]
						.advantages__name Сервисное #[br]обслуживание
					.advantages__item
						.advantages__icon #[img(src="upload/004-chronometer.svg", alt="")]
						.advantages__name Установка за один день
					.advantages__item
						.advantages__icon #[img(src="upload/005-certificate.svg", alt="")]
						.advantages__name Контроль качества
					.advantages__item
						.advantages__icon #[img(src="upload/006-wallet.svg", alt="")]
						.advantages__name Выгодные цены

	.share#share
		.case
			.share__wrap.row
				.share__img.img #[div(style="background-image: url('upload/share.jpg')")]
				.share__content
					.share__head
						.share__title.title #[strong 30%] #[br] скидка!
						.share__desc Успей только до 30 июля!
					.share__body
						.share__form.form
							.form__item.form__input.input.--white.--md
								input.input__area(type="text" name="name" placeholder="Ваше имя")
							.form__item.form__input.input.--white.--md.--phone
								input.input__area(type="tel" name="phone" placeholder="Ваш номер телефона")
							.form__item.form__btn.btn.--brown.--md.--mt(data-fancybox data-src="#popup-order" href="javascript:;") Зафиксировать скидку

							.form__item.form__policy Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных


	.gallery#gallery
		.gallery__big-title.big-title #[img(src="upload/text-gallery.svg", alt="")]
		.gallery__head
			.case.row.i-mid
				.gallery__title.title гале#[b.r р]ея
				.gallery__counts.nav-counts
		.gallery__body
			.gallery__list.nav-arrows
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-1.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый 
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-2.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-3.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-4.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-5.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-6.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-1.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый 
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-2.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-3.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-4.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-5.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-6.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-1.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый 
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-2.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-3.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-4.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-5.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				.gallery__item
					.gallery__inner
						.gallery__img.img #[div(style="background-image: url('upload/gallery-6.jpg')")]
						.gallery__content
							.gallery__subtitle натяжной потолок
							.gallery__name двухуровневый
							.gallery__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	.contacts#contacts
		.case
			.contacts__wrap.row
				.contacts__map.map-wrap
					.map#map
					script.
						function initMap() {
							var uluru = {lat: 48.8187625, lng: 44.6234512};
							var map = new google.maps.Map(
								document.getElementById('map'), {
									zoom: 15, 
									center: uluru,
									disableDefaultUI: true,
									styles: [
										{
										"featureType": "administrative",
										"elementType": "labels.text.fill",
										"stylers": [
											{
											"color": "#444444"
											}
										]
										},
										{
										"featureType": "administrative.country",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "on"
											}
										]
										},
										{
										"featureType": "administrative.country",
										"elementType": "geometry.stroke",
										"stylers": [
											{
											"weight": "0.40"
											}
										]
										},
										{
										"featureType": "administrative.country",
										"elementType": "labels.text",
										"stylers": [
											{
											"visibility": "on"
											},
											{
											"saturation": "-40"
											}
										]
										},
										{
										"featureType": "administrative.country",
										"elementType": "labels.text.fill",
										"stylers": [
											{
											"color": "#333366"
											}
										]
										},
										{
										"featureType": "administrative.country",
										"elementType": "labels.text.stroke",
										"stylers": [
											{
											"hue": "#ff0000"
											},
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "administrative.province",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "administrative.locality",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "on"
											}
										]
										},
										{
										"featureType": "administrative.neighborhood",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "administrative.land_parcel",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "landscape",
										"elementType": "all",
										"stylers": [
											{
											"color": "#ffffff"
											}
										]
										},
										{
										"featureType": "landscape.man_made",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "landscape.natural",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "on"
											}
										]
										},
										{
										"featureType": "poi",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "road",
										"elementType": "all",
										"stylers": [
											{
											"saturation": -100
											},
											{
											"lightness": 45
											},
											{
											"weight": "1.25"
											},
											{
											"visibility": "on"
											}
										]
										},
										{
										"featureType": "road.highway",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "simplified"
											}
										]
										},
										{
										"featureType": "road.arterial",
										"elementType": "labels.icon",
										"stylers": [
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "transit",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "off"
											}
										]
										},
										{
										"featureType": "water",
										"elementType": "all",
										"stylers": [
											{
											"visibility": "on"
											},
											{
											"color": "#dddcdc"
											}
										]
										}
									]
								});
							var marker = new google.maps.Marker({position: uluru, map: map});
						}
					script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT7Tfe51k0sqCdOpNt5t5Rfgl9W_-HysA&callback=initMap" defer)
					
				.contacts__content
					.contacts__title.title кон#[br]так#[br]т#[b.bl ы]
					.contacts__inner
						.contacts__list
							.contacts__item
								.contacts__icon #[img(src="upload/marker.svg", alt="")]
								.contacts__name г. Москва, ул. Мясникова, 17
							.contacts__item
								.contacts__icon #[img(src="upload/phone.svg", alt="")]
								.contacts__name #[a(href="tel:+79379999999") 8 (937) 999-99-99], #[a(href="tel:+79379999999") 8 (999) 999-99-99]
							.contacts__item
								.contacts__icon #[img(src="upload/mail.svg", alt="")]
								.contacts__name #[a(href="mailto:grampus-studio@gmail.com") grampus-studio@gmail.com]
						.contacts__text.text
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
