footer.footer
	.case
		.footer__body.row.i-mid
			.footer__logo #[img(src="upload/logo.svg", alt="")]
			nav.footer__nav.nav
				ul
					li
						a(href="#calc") калькулятор
					li
						a(href="#catalog") каталог
					li
						a(href="#advantages") почему мы
					li
						a(href="#gallery") наши работы
					li
						a(href="#contacts") контакты
			a.footer__up.up(href="#header")
				.up__text наверх
				.up__icon
		.footer__foot
			a.footer__dev.dev(href="https://grampus-studio.ru/" target="_blank")
				.dev__title Разработка сайта
				.dev__logo
					<svg class="dev-g" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.35 177.18"><defs><style>.g-1,.g-2{fill:none;stroke:#fff;stroke-miterlimit:22.93;}.g-1{stroke-width:42.52px;}.g-2{stroke-width:34.02px;}</style></defs><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path class="g-1" d="M151.86,111.62a67.34,67.34,0,1,1-6.3-58.91"></path><polyline class="g-2" points="99.03 99.45 167.34 99.45 167.34 175.23"></polyline></g></g></svg>
					<svg class="dev-rampus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.57 8.89"><defs><style>.rampus{fill:#fff;}</style></defs><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path class="rampus" d="M3.56,1.71A3.48,3.48,0,0,0,3,1.66a1.25,1.25,0,0,0-1.26.65V6.46H0V.12H1.6l0,.75A1.57,1.57,0,0,1,3.06,0a1.84,1.84,0,0,1,.53.08Z"></path><path class="rampus" d="M7.88,6.46a1.74,1.74,0,0,1-.17-.57,2.06,2.06,0,0,1-1.6.68A2.29,2.29,0,0,1,4.56,6,1.74,1.74,0,0,1,4,4.68,1.79,1.79,0,0,1,4.7,3.13a3.69,3.69,0,0,1,2.16-.55h.77V2.22a1,1,0,0,0-.22-.7.88.88,0,0,0-.71-.27A1,1,0,0,0,6,1.46.68.68,0,0,0,5.78,2H4.09a1.67,1.67,0,0,1,.34-1,2.24,2.24,0,0,1,1-.73A3.46,3.46,0,0,1,6.79,0,2.78,2.78,0,0,1,8.65.59a2.07,2.07,0,0,1,.68,1.65V5a3.05,3.05,0,0,0,.26,1.37v.1ZM6.47,5.28a1.51,1.51,0,0,0,.7-.17,1.05,1.05,0,0,0,.46-.45V3.57H7c-.85,0-1.3.3-1.35.88v.1a.67.67,0,0,0,.23.52A.83.83,0,0,0,6.47,5.28Z"></path><path class="rampus" d="M12.22.12l.06.71A2.21,2.21,0,0,1,14.1,0a1.69,1.69,0,0,1,1.68,1,2.16,2.16,0,0,1,1.9-1,1.9,1.9,0,0,1,1.54.6,2.79,2.79,0,0,1,.5,1.81V6.46H18v-4a1.17,1.17,0,0,0-.21-.78.92.92,0,0,0-.74-.25A1.07,1.07,0,0,0,16,2.1V6.46H14.33v-4a1.23,1.23,0,0,0-.22-.8,1,1,0,0,0-.74-.24,1.1,1.1,0,0,0-1,.59V6.46h-1.7V.12Z"></path><path class="rampus" d="M26.73,3.35a3.82,3.82,0,0,1-.66,2.34,2.15,2.15,0,0,1-1.8.88,2,2,0,0,1-1.55-.66v3H21V.12h1.57l.06.62A2,2,0,0,1,24.26,0a2.14,2.14,0,0,1,1.82.87,3.92,3.92,0,0,1,.65,2.39ZM25,3.22a2.46,2.46,0,0,0-.32-1.36,1,1,0,0,0-.91-.48A1.1,1.1,0,0,0,22.72,2V4.58a1.11,1.11,0,0,0,1.1.63C24.63,5.21,25,4.55,25,3.22Z"></path><path class="rampus" d="M31.58,5.81a2.13,2.13,0,0,1-1.74.76A2,2,0,0,1,28.29,6a2.5,2.5,0,0,1-.55-1.72V.12h1.69v4.1q0,1,.9,1a1.23,1.23,0,0,0,1.19-.6V.12h1.7V6.46h-1.6Z"></path><path class="rampus" d="M37.93,4.71a.53.53,0,0,0-.31-.49,3.25,3.25,0,0,0-1-.32c-1.5-.32-2.26-1-2.26-1.93a1.71,1.71,0,0,1,.7-1.4A2.82,2.82,0,0,1,36.9,0a3,3,0,0,1,1.93.57A1.77,1.77,0,0,1,39.56,2h-1.7a.81.81,0,0,0-.23-.6,1.27,1.27,0,0,0-1.4,0,.62.62,0,0,0-.23.49.53.53,0,0,0,.27.46,2.88,2.88,0,0,0,.9.3,6.41,6.41,0,0,1,1.06.28,1.75,1.75,0,0,1,1.34,1.7A1.65,1.65,0,0,1,38.83,6a3.2,3.2,0,0,1-1.92.53,3.4,3.4,0,0,1-1.42-.28,2.43,2.43,0,0,1-1-.78,1.85,1.85,0,0,1-.35-1.07h1.61a.85.85,0,0,0,.33.69,1.34,1.34,0,0,0,.83.24,1.26,1.26,0,0,0,.74-.18A.59.59,0,0,0,37.93,4.71Z"></path></g></g></svg>



.bg-mobile

.popup.--xs#popup-order
	.popup__title Оставить заявку
	.popup__form.form
		.form__item.form__input.input.--white.--md
			input.input__area(type="text" name="name" placeholder="Ваше имя")
		.form__item.form__input.input.--white.--md.--phone
			input.input__area(type="tel" name="phone" placeholder="Ваш номер телефона")
		button.form__item.form__btn.btn.--brown.--md.--mt Отправить

		.form__item.form__policy Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных


.popup.--xs#popup-thanks
	.popup__title Спасибо!
	.popup__text Ваша заявка успешно отправлена!
