header.header#header
	.case
		.header__wrap.row.i-mid
			.header__logo #[img(src="upload/logo.svg", alt="")]
			nav.header__nav.nav
				ul
					li
						a(href="#calc") калькулятор
					li
						a(href="#catalog") каталог
					li
						a(href="#advantages") почему мы
					li
						a(href="#gallery") наши работы
					li
						a(href="#contacts") контакты
			.header__phones.row.i-mid
				.header__phone.phone.row.i-mid
					.phone__icon #[img(src="upload/phone-call.svg", alt="")]
					.phone__text #[a(href="tel:+78000000000") 8 800 000 00 00]
				.header__phone.phone.row.i-mid
					.phone__icon #[img(src="upload/phone-call.svg", alt="")]
					.phone__text #[a(href="tel:+78000000000") 8 800 000 00 00]
